@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-y: hidden;
}
html, body:has(:not(:empty)) {
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #2cb485;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #38d7a0;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: rgb(166, 194, 192);
    border-radius: 4px;
}
::-webkit-scrollbar-track:hover {
    background-color: rgb(186, 218, 216);
}

.v-stepper-header .v-divider {
    border-bottom: 2px solid #105641;
    background-color: transparent;
    width: 100%;
}
